<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap_3.3.7_css_bootstrap.css}"
          href="../static/css/bootstrap_3.3.7_css_bootstrap.css">
    <script type="text/javascript" th:src="@{/js/jquery_2.1.1_jquery.js}"
            src="../static/js/jquery_2.1.1_jquery.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap_3.3.7_js_bootstrap.js}"
            src="../static/js/bootstrap_3.3.7_js_bootstrap.js"></script>
    <style>
        body{
            margin-top: 10%;
        }
    </style>
</head>
<body class="text-center">
    <h1> 欢迎来到主页! </h1>
    <a title="后台登录" href="/admin/management" class="btn btn-success">进入后台</a>
</body>
</html>