<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台登陆</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap_3.3.7_css_bootstrap.css}"
          href="../static/css/bootstrap_3.3.7_css_bootstrap.css">
    <script type="text/javascript" th:src="@{/js/jquery_2.1.1_jquery.js}"
            src="../static/js/jquery_2.1.1_jquery.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap_3.3.7_js_bootstrap.js}"
            src="../static/js/bootstrap_3.3.7_js_bootstrap.js"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css">
</head>
<body class="text-center">
<div class="left">
    <img th:src="@{/images/login_show.png}" src="../static/images/login_show.png" alt="">
</div>
<form th:action="@{/doLogin}" method="post">
    <div class="right">
        <h2>管&nbsp;理&nbsp;员&nbsp;登&nbsp;录</h2>
        <label>
            <input class="right-username" name="username" type="text" placeholder="请输入用户名">
        </label>
        <label>
            <input class="right-password" name="password" type="password" placeholder="请输入密码">
        </label>
        <input class="right-submit" type="submit" value="登录">
        <a href="#">忘记密码?</a>
    </div>
</form>
</body>
</html>